.filter.drawer {
  overflow: hidden;
  transition: height 0.3s ease;
  transition: opacity 0.3s ease;
}
.filter.drawer.closed {
  height: 0;
  opacity: 0;
}
.filter.drawer.open {
  height: 100%;
  opacity: 1;
}
.filter.button {
  transition: transform 0.3s ease;
}
.filter.button.open {
  transform: rotate(-90deg);
}