{
    "RECORD_KEY": "http://localhost:7100",
    "authRealm": "",
    "authClientId": "",
    "host": "http://localhost:7100",
    "authUrl": "",
    "baseUrl": "http://localhost:7100",
    "logoutUrl": "",
    "creatorUser": "",
    "maintainerUser": "",
    "adminUser": "",
    "password": ""
  }
  